.room_buttons_container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.room_buttons {
  width: 50%;
  height: 5rem;
  font-size: 1.875rem;
  font-weight: bold;
  background-color: #5e5e5e;
  border-style: outset;
  border-radius: 10px;
  color: #ffffff;

}

.room_buttons:hover {
  background-color: #AAAAAA;
  font-weight: bold;
  color: #ffffff;
  transition-duration: 300ms;

}

.room_home {
  background-color: #8490fa;
  font-family: Arial, Helvetica, sans-serif;
}

.room_title_text {
  color: #ffffff;
  display: flex;
  justify-content: center;


}

.room_title {
  display: flex;
  color: #ffffff;
  font-size: 3.125rem;
  justify-content: center;
  margin: 1.875rem;
}

.room_welcome_text {
  width: 100%;
  display: flex;
  justify-content: center;

}

.room_text {
  display: flex;
  color: #ffffff;
  font-size: 1.875rem;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 1.875rem;
}

.roomlist {
  display: flex;
  color: #ffffff;
  font-size: 1.875rem;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1%;
  justify-content: center;


}

.room_h3 {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 2.5rem;

}

.roomlink_button {
  margin: 0.2rem;
  color: #ffffff;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.25rem;
  width: 300px;
  padding: 1rem;
  background-color: #5e5e5e;
  border-style: outset;
  border-radius: 10px;
}

.roomlink_button:hover {
  background-color: #AAAAAA;
  font-weight: bold;
  color: #ffffff;
  transition-duration: 300ms;

}

@media screen and (max-width: 960px) {
  .room_buttons_container {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .room_buttons {
    width: 50%;
    height: 5rem;
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #5e5e5e;
    border-style: outset;
    border-radius: 10px;
    color: #ffffff;

  }

  .room_buttons:hover {
    background-color: #AAAAAA;
    font-weight: bold;
    color: #ffffff;
    transition-duration: 300ms;
  }

  .room_home {
    background-color: #8490fa;
    font-family: Arial, Helvetica, sans-serif;
  }

  .room_title_text {
    color: #ffffff;
    display: flex;
    justify-content: center;


  }

  .room_title {
    display: flex;
    color: #ffffff;
    font-size: 2.125rem;
    justify-content: center;
    margin: 1.875rem;
  }

  .room_welcome_text {
    width: 100%;
    display: flex;
    justify-content: center;

  }

  .room_text {
    display: flex;
    color: #ffffff;
    font-size: 1.3rem;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 1.875rem;
  }

  .roomlist {
    display: flex;
    color: #ffffff;
    font-size: 1.3rem;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 1%;
    justify-content: center;


  }

  .room_h3 {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 2rem;

  }

  .roomlink_button {
    margin: 0.2rem;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.25rem;
    width: 300px;
    padding: 1rem;
    background-color: #5e5e5e;
    border-style: outset;
    border-radius: 10px;
  }

  .roomlink_button:hover {
    background-color: #AAAAAA;
    font-weight: bold;
    color: #ffffff;
    transition-duration: 300ms;

  }

}