.link_submit {
  width: 15%;
  height: 2.1rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #5e5e5e;
  border-style: outset;
  border-radius: 10px;
  margin-left: 1rem;
  color: #ffffff;
 
  
}

.link_leave {
  width: 12%;
  height: 2rem;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #5e5e5e;
  border-style: outset;
  border-radius: 10px;
  margin-left: 1rem;
  color: #ffffff;
  

}

.link_leave:hover {
  background-color: #AAAAAA;
  font-weight: bold;
  color: #ffffff;
  transition-duration: 300ms;
}

.link_submit:hover {
  background-color: #AAAAAA; 
  font-weight: bold;
  color: #ffffff;
  transition-duration: 300ms;

}
/*
buttons:
#6f79cf highlight
#d0d4ff normal 

hintergrund:

*/
.partytitle_text {
  color: #ffffff;
  display: flex;
  margin-left: 1rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  


}

/*.party_videobox {
  display: flex;
  color: #ffffff;
  font-size: 1.875rem;
  justify-content: center;
  font-weight: bold;
  margin-left: 2%;
}*/

.party_title {
  display: flex;
  color: #ffffff;
  font-size: 1.3rem;
  justify-content: center;

}

.links {
  display: flex;
  align-content: center;
  margin-left: 2.4rem;
  margin-right: 2.4rem;
}

.link_box {
  width: 70%;
  height: 1.7rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #AAAAAA;
  border-style: outset;
  border-radius: 10px;
  color: #ffffff;
}

.users {
  display: flex;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: flex-start;
  margin-left: 2.4rem;

}

.user_list {
  display: flex;
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: bold;
  justify-content: flex-start;
  margin-left: 2.4rem;
}



.player{
  margin-left: 2.4rem;
  margin-bottom: 2.4rem;
  margin-right: 2.4rem;
  margin-top: 1rem;
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}


.reactplayer{
  position: absolute;
  top: 0;
  left: 0;
}

.chat{
  margin: 2.4rem;
  
}

.user_box{
  margin-top: -18%;
}

@media screen and (max-width: 960px) {

  .link_submit {
    width: 30%;
    height: 2.1rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #5e5e5e;
    border-style: outset;
    border-radius: 10px;
    margin-left: 1rem;
   
    
  }
  
  .link_leave {
    width: 30%;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #5e5e5e;
    border-style: outset;
    border-radius: 10px;
    
    
  
  }
  
  .link_leave:hover {
    background-color: #AAAAAA;
    font-weight: bold;
    color: #ffffff;
    transition-duration: 300ms;
  }
  
  .link_submit:hover {
    background-color: #AAAAAA;
    font-weight: bold;
    color: #ffffff;
    transition-duration: 300ms;
  
  }
  
  .partytitle_text {
    color: #ffffff;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
  
  
  }
  
  /*.party_videobox {
    display: flex;
    color: #ffffff;
    font-size: 1.875rem;
    justify-content: center;
    font-weight: bold;
    margin-left: 2%;
  }*/
  
  .party_title {
    display: flex;
    color: #ffffff;
    font-size: 0.8rem;
    justify-content: center;
  
  }
  
  .links {
    display: flex;
    align-content: center;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }
  
  .link_box {
    width: 70%;
    height: 1.7rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #AAAAAA;
    border-style: outset;
    border-radius: 10px;
    color: #ffffff;
  }
  
  .users {
    display: flex;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: bold;
    justify-content: flex-start;
    margin-left: 2.4rem;
  
  }
  
  .user_list {
    display: flex;
    color: #ffffff;
    font-size: 1rem;
    font-weight: bold;
    justify-content: flex-start;
    margin-left: 2.4rem;
  }
  
  
  
  .player{
    margin-left: 2.4rem;
    margin-bottom: 2.4rem;
    margin-right: 2.4rem;
    margin-top: 1rem;
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }
  
  
  .reactplayer{
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .chat{
    margin: 2.4rem;
  }
  
  .user_box{
    margin-top: -18%;
  }
}